@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}
@mixin flex($content, $items, $direction) {
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
  display: flex;
}
@mixin config {
  outline: none;
  border: none;
} //colors
$color-primary: #584ab0;
$color-secondary: #6c59c2;
.container {
  background-color: #ece7f3;
  height: 100vh;
  .container__url__body {
    @include flex(center, center, column);
    height: 80vh;
    .container__url__form {
      box-shadow: -5px -5px 5px 0px #7e5aa830;
      @include flex(center, center, column);
      background-color: $color-secondary;
      border-radius: 5px;
      max-width: 1600px;
      height: 130px;
      width: 600px;
      .form__container {
        @include flex(none, center, row);
        width: 100%;
        .form__http {
          margin-right: 10px;
          font-size: 1.4rem;
          color: #fff;
        }
        .form__btn {
          @include config();
          background-color: $color-secondary;
          padding: 10px 1.9rem;
          border-radius: 5px;
          margin-left: 10px;
          transition: 0.3s;
          font-size: 13px;
          cursor: pointer;
          color: #fff;
          &:hover {
            background-color: $color-primary;
            transition: 0.3s;
          }
        }
      }
      input {
        @include config();
        border-radius: 5px;
        padding: 8px 10px;
        font-weight: 300;
        width: 400px;
        &::placeholder {
          font-weight: 400;
        }
      }
    }
    .container__url__map {
      box-shadow: 5px 5px 5px 0px #7e5aa830;
      background-color: $color-primary;
      align-items: center;
      border-radius: 5px;
      position: relative;
      max-width: 1600px;
      margin-top: 20px;
      color: #fff;
      display: flex;
      height: 60px;
      width: 600px;
      .http {
        @include flex(center, center, row);
        padding: 0px 20px;
        width: 100%;
        .url__btn {
          @include config();
          background-color: $color-secondary;
          border-radius: 5px;
          position: relative;
          margin-left: 10px;
          font-size: 13px;
          cursor: pointer;
          color: #fff;
          height: 38px;
          width: 40px;
          .copy {
            transform: translateX(0px) translateY(0px);
            background-color: $color-secondary;
            justify-content: center;
            transition: all 0.2s;
            align-items: center;
            position: absolute;
            border-radius: 5px;
            font-size: 13px;
            display: flex;
            height: 100%;
            content: "";
            bottom: 0px;
            width: 100%;
            left: 0px;
            &:active {
              transform: translateX(2px) translateY(2px);
              scale: 1;
            }
          }
          .check {
            transform: translateX(-2px) translateY(-2px);
            box-shadow: 1px 1px 0px 0px #59c36a;
            background-color: #59c36a;
            justify-content: center;
            transition: all 0.2s;
            align-items: center;
            position: absolute;
            border-radius: 5px;
            font-size: 13px;
            display: flex;
            height: 100%;
            content: "";
            bottom: 0px;
            width: 100%;
            left: 0px;
          }
        }
        .url__text {
          padding: 0px 20px;
          user-select: none;
          font-weight: 400;
          color: #fff;
        }
      }
    }
  }
  .container__url__git {
    @include flex(center, center, row);
    .url__git__btn {
      transition: 0.2s ease-in-out;
      background-color: $color-primary;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      position: relative;
      cursor: pointer;
      font-size: 20px;
      color: #fff;
      display: flex;
      height: 45px;
      width: 125px;
      &:hover {
        box-shadow: -5px -5px 2px 0px $color-secondary;
        transition: 0.2s;
      }
      &:hover > .git {
        transform: translateY(-6px);
        transition: 0.2s;
      }
      &::before {
        transform: translateY(30px);
        position: absolute;
        content: "GitHub";
        transition: 0.2s;
        font-size: 10px;
        opacity: 0;
      }
      &:hover::before {
        transform: translateY(12px);
        transition: 0.2s;
        opacity: 1;
      }
    }
  }
  .git {
    position: relative;
    transition: 0.2s;
  }
}
@media screen and (max-width: 800px) {
  .container {
    .container__url__body {
      padding: 0px 20px;
      .container__url__form {
        max-width: none;
        height: 130px;
        width: 100%;
        .form {
          padding: 0px 20px;
          width: 100%;
          .form__container {
            justify-content: space-evenly;
            width: 100%;
            .form__http {
              margin-right: 10px;
              font-size: 20px;
              color: #fff;
            }
            .form__btn {
              @include config();
              background-color: $color-secondary;
              padding: 10px 25px;
              border-radius: 5px;
              margin-left: 10px;
              transition: 0.3s;
              font-size: 13px;
              cursor: pointer;
              color: #fff;
              &:hover {
                background-color: $color-primary;
                transition: 0.3s;
              }
            }
          }
        }
        input {
          @include config();
          border-radius: 5px;
          padding: 8px 10px;
          width: 70%;
          &::placeholder {
            font-weight: 400;
          }
        }
      }
      .container__url__map {
        box-shadow: 5px 5px 5px 0px #7e5aa830;
        background-color: $color-primary;
        align-items: center;
        border-radius: 5px;
        margin-top: 20px;
        color: #fff;
        display: flex;
        height: 60px;
        width: 100%;
        .http {
          justify-content: center;
          align-items: center;
          display: flex;
          width: 100%;
          .url__btn {
            @include config();
            background-color: $color-secondary;
            border-radius: 5px;
            position: relative;
            margin-left: 10px;
            font-size: 13px;
            cursor: pointer;
            color: #fff;
            height: 38px;
            width: 40px;
            .copy {
              transform: translateX(0px) translateY(0px);
              background-color: $color-secondary;
              justify-content: center;
              transition: all 0.2s;
              align-items: center;
              position: absolute;
              border-radius: 5px;
              font-size: 13px;
              display: flex;
              height: 100%;
              content: "";
              bottom: 0px;
              width: 100%;
              left: 0px;
              &:active {
                transform: translateX(2px) translateY(2px);
                scale: 1;
              }
            }
            .check {
              transform: translateX(-2px) translateY(-2px);
              box-shadow: 1px 1px 0px 0px #59c36a;
              background-color: #59c36a;
              justify-content: center;
              transition: all 0.2s;
              align-items: center;
              position: absolute;
              border-radius: 5px;
              font-size: 13px;
              display: flex;
              height: 100%;
              content: "";
              bottom: 0px;
              width: 100%;
              left: 0px;
            }
          }
          .url__text {
            user-select: none;
            font-weight: 400;
            font-size: 13px;
            color: #fff;
          }
        }
      }
    }
  }
}
